/* input[type="text"] {
    width: 10%;

} */

/* h2 {
    justify-self:center;
    align-self: center;
} */

.purpose {
    /* width: 1rem; */
    display: flex;
    flex-direction: column;
}

/* 
.purpose > label {
    justify-self: start;

} */

input[type="radio"] {
    width: 15px;
    height: 15px;
    /* align-self: self-start; */
    /* justify-self: end; */
}

legend {
    margin: 1px;
    padding: 1px;
}

fieldset p {
    margin: 5px;
    padding: 1px;
}

/* 
.container_purpose {
    border: 1px solid black;
    border-radius: 5px;
} */

fieldset {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.message {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border-top: 1px solid black;
    padding-top: 10px;
}

textarea {
    margin-top: 10px;
}

label,
fieldset {
    text-decoration: none;
    font-family: var(--paragraph-font);
}

input[type="text"],
input[type="email"] {
    width: 90%;
}

.contact_information_container {
    display: flex;
    flex-direction: column;
}

.form {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* justify-items: center; */
    /* align-content: center; */
    /* align-items: center; */
    /* width: 100%; */
}

.heading{
    align-self: center;
}

.company_information {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    list-style: none;
}

.last_row {
    display: flex;
    flex-direction: column;
    align-items: end;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

button {
    margin: 10px;
    padding: 10px;
    background-color: var(--nav-background-color);
    font-size:medium;
    font-family: var(--paragraph-font);
    color: var(--nav-link-color);

}

button:hover {
    background-color: rgb(30, 225, 0);
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color)
}