@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Rock+Salt&display=swap');

*{
    color:#0d1b2a;
	padding: 0;
}

:root {
    --primary-color: #0d1b2a;
    --secondary-color: #415a77;
    --accent1-color: #778da9;
    --accent2-color: #e0e1dd;
    --heading-font: 'Rock Salt';
    --paragraph-font: Roboto;
    --nav-background-color: #223;
    --nav-link-color: #fff;
    --nav-hover-link-color: #66fde6;
    --nav-hover-background-color: #1d2c3f;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font),'Bradley Hand', cursive;
    color: var(--primary-color);
}

nav a, p{
    padding: 25px;
    text-decoration: none;
    font-family: var(--paragraph-font);
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}
    
.hero h1 {
    text-align: center;
    box-sizing: border-box;
    padding: 15px;
    position: absolute;
    width: 100%;
	top: 10%;
	background: rgb(0, 0, 0);
	padding: 0.65rem;
	box-shadow: 0 0 30px #111;
	opacity: 0.8;
    color: var(--accent1-color)
}

article {
    box-sizing: border-box;
    padding: 15px;
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
    bottom: 10%;
	background: rgba(55, 132, 255, 0.505);
    font-family: var(--paragraph-font);
}

.hero article img {
    float: right;
    width: 400px;
    height: auto;
}

.hero article p{
    color: white;
    font-size: xx-large;
}

.hero article h2 {
    color: white;
    text-align: center;
}

.sociallinks img {
    width: 25px;
    margin: -5px;
    text-decoration: none;
}

footer p {
    margin: -5px;
}

header {
    display: grid;
    grid-template-columns: 120px 1fr;
    justify-items: start;
    align-items: center;
    margin: 0;
}

header img {
    width: 100px;
    height: auto;
    margin: 10px;   
}

nav {
    width: 100%;
}

.navigation {
    list-style: none;
    background-color: var(--nav-background-color);
    display: flex;
}

.navigation a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

.navigation a:link, nav a:visited {
    color: var(--nav-link-color);
}

.navigation a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color)
}

.history h2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.history_and_image {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.history img {
    width: 350px;
    height: auto;
}

.adventure_section {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.container_adventure_images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.adventure_section img {
    width: 25vh;
    height: auto;
}

figure {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

footer {
    display: grid;
}

.sociallinks {
    grid-column: 3/4;
    display: flex;
    justify-content: end;
}

.footer_p {
    grid-column: 2/3;
    display: flex;
    justify-content: end;
}
