@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Rock+Salt&display=swap');

:root{
    --primary-color: #0d1b2a;
    --secondary-color: #415a77;
    --accent1-color: #778da9;
    --accent2-color: #e0e1dd;
    --heading-font: 'Rock Salt';
    --paragraph-font: Roboto;
    --nav-background-color: #223;
    --nav-link-color: #fff;
    --nav-hover-link-color: #66fde6;
    --nav-hover-background-color: #1d2c3f;
}

body{
    font-family: var(--paragraph-font), Helvetica, sans-serif;
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font),'Bradley Hand', cursive;
    color: var(--primary-color)
}

header { 
    padding: 20px;
    background-color: var(--accent1-color);
}

p{
    padding: 25px;
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color)
}